[submodule "subprojects/json"]
	path = subprojects/json
	url = https://github.com/nlohmann/json
[submodule "subprojects/cpr"]
	path = subprojects/cpr
	url = https://github.com/libcpr/cpr
[submodule "subprojects/Catch2"]
	path = subprojects/Catch2
	url = https://github.com/catchorg/Catch2
